### Тема “Вычисления с помощью Numpy”

Задание 1
Импортируйте библиотеку Numpy и дайте ей псевдоним np.
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение. Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [1]:
import numpy as np
a = np.array([[1, 6], [2, 8], [3, 11], [3, 10], [1, 7]])
print(f'Массив a:\n{a}')
mean_a = a.mean(axis=0)
print(f'Cредние значения по каждому признаку (mean_a):\n{mean_a}')

Массив a:
[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]
Cредние значения по каждому признаку (mean_a):
[2.  8.4]

Задание 2
Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [2]:
a_centered = np.subtract(a, mean_a)
print(f'a - mean_a = a_centered:\n{a_centered}')

a - mean_a = a_centered:
[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

Задание 3
Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [3]:
a_centered_sp = np.dot(a_centered[:,0], a_centered[:,1])
print(f'Скалярное произведение столбцов массива a_centered = a_centered_sp: {a_centered[:,0]} * {a_centered[:,1]} = {a_centered_sp}')
n = a.shape[0]
print(f'Число наблюдений N = {n}')
print(f'a_centered_sp / (N - 1): {a_centered_sp / (n - 1)}')

Скалярное произведение столбцов массива a_centered = a_centered_sp: [-1.  0.  1.  1. -1.] * [-2.4 -0.4  2.6  1.6 -1.4] = 8.0
Число наблюдений N = 5
a_centered_sp / (N - 1): 2.0

### Тема “Работа с данными в Pandas”

Задание 1
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [4]:
import pandas as pd

a = {'author_id': [1, 2, 3],
     'author_name': ['Тургенев', 'Чехов', 'Островский']}
b = {'author_id': [1, 1, 1, 2, 2, 3, 3],
     'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    'price': [450, 300, 350, 500, 450, 370, 290]}

authors = pd.DataFrame(data=a)
book = pd.DataFrame(data=b)

print('Датафрейм authors:')
pd.DataFrame(authors)

Датафрейм authors:

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [5]:
print('\nДатафрейм book:')
pd.DataFrame(book)

Датафрейм book:

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

Задание 2
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [6]:
authors_price = pd.merge(authors, book, on='author_id', how='inner')
pd.DataFrame(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

Задание 3
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [7]:
top5 = authors_price.nlargest(5, 'price')
pd.DataFrame(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

Задание 4
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [8]:
tg = authors_price.loc[(authors_price["author_name"] == 'Тургенев')]
ch = authors_price.loc[(authors_price["author_name"] == 'Чехов')]
os = authors_price.loc[(authors_price["author_name"] == 'Островский')]
min_all = tg.agg({'price':'min'}), ch.agg({'price':'min'}), os.agg({'price':'min'})
med_all = tg.agg({'price':'mean'}), ch.agg({'price':'mean'}), os.agg({'price':'mean'})
max_all = tg.agg({'price':'max'}), ch.agg({'price':'max'}), os.agg({'price':'max'})
pd.set_option('display.float_format', '{:.1f}'.format)
min_all = pd.DataFrame(data=min_all, dtype=np.float32)
min_all = min_all.rename(columns={'price': 'min_price'})
med_all = pd.DataFrame(data=med_all, dtype=np.float32)
med_all = med_all.rename(columns={'price': 'mean_price'})
max_all = pd.DataFrame(data=max_all, dtype=np.float32)
max_all = max_all.rename(columns={'price': 'max_price'})
res_all = pd.concat([min_all, med_all, max_all], axis=1)

pd.DataFrame(res_all)

   min_price  mean_price  max_price
0      300.0       366.7      450.0
1      450.0       475.0      500.0
2      290.0       330.0      370.0

In [9]:
authors_stat = pd.DataFrame(authors_price['author_name'].unique())
authors_stat.rename(columns = {0:'author_name'}, inplace = True)
pd.DataFrame(authors_stat)

  author_name
0    Тургенев
1       Чехов
2  Островский

In [10]:
final = pd.concat([authors_stat, res_all], axis=1)
pd.DataFrame(final)

  author_name  min_price  mean_price  max_price
0    Тургенев      300.0       366.7      450.0
1       Чехов      450.0       475.0      500.0
2  Островский      290.0       330.0      370.0